@media screen and (max-width: 850px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .assine-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        padding-top: 70px;
        width: 100%;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .assine-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .assine-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
    /* main .main-inicio .swiper {
        max-width: 70vw;
    } */
    .swiper-slide {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

@media screen and (max-width: 850px) { 
    
}
