h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.center {
   display: flex;
   text-align: center; 
   justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 230px;
    padding: 20px;
    border-radius: 30px;
}

input {
    width: 205px;
    padding-top: 30px;
    background-color: #eee;
    border: none;
    border-radius: 10px;
    
}

button {
    border: none;
    padding: 15px;
    width: 50px;
    border-radius: 10px;
}

.cinza {
    background-color: #f57070;
}

